@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'NunitoSans';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-Italic.otf');
  font-weight: normal;
  font-style: italic;
}

.ais-SearchBox-form{
  padding:8px;
  width: 100%;
  background: #fff;
  border-top-radius: 20px;
  display: flex;
  flex-direction: row;
}

.ais-SearchBox-input{
  background:white;
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.ais-SearchBox-submitIcon{
  width: 20px;
  height: 20px;
  margin: 0 15px 0 15px;
}