.ais-SearchBox-form{
  padding:8px;
  width: 30vw;
  background: #fff;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.ais-SearchBox-input{
  background: white;
  width: 100%;
  padding: 12px;
  border-radius: 80px;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.ais-SearchBox-submitIcon{
  margin-top: 12px; 
  width: 20px;
  height: 20px;
  margin: 0 15px 0 15px;
}